{% extends 'default/layout/index.html.twig' %}
{% block content %}

<div class="single">
	<div class="container">
			<div class="single-top">
			<div class="col-md-9">
			
				<div class="col-md-6">
			{% if app.session.has('logged') %}
				<form action="index.php?c=store&m=cart" method="post" accept-charset="utf-8">
					<img src="{{ detail['image'] }}" alt=""><br>
					<h3>{{ detail['name'] }}</h3>
					<strong>{{"$ " ~ detail['price'] ~ " / pound" }}</strong> 
					<h3 style="font-size: 1em"><p>Quantity: </p><input type="number" name="quantity" min="1" value="1"></h3>
					<input type="hidden" name="c" value="store">
					<input type="hidden" name="m" value="cart">
					<input type="hidden" name="id" value="{{ detail['id'] }}">
					<button type="submit" class="btn">Purchase</button>
				</form>	
				</div>
				<div class="col-md-6">
					<span>{{ detail['description'] | raw }}</span><br>
				</div>
			{% else %}
				<h3>Chưa đăng nhập</h3>
			{% endif %}
			</div>
			</div>
</div>
</div>
{% endblock %}