{% extends 'default/layout/index.html.twig' %}
{% block content %}

<!-- <div class="single"> -->
	<div class="container">
			<div class="single-top">
			<div class="col-md-9" >
			
				<div class="col-md-6" style="margin-top:40px">
			{% if app.session.has('logged') %}
				<form action="/store/cart" method="post" accept-charset="utf-8">
					<img src="{{ detail['image'] }}" alt=""><br>
					<h3>{{ detail['name'] }}</h3>
					<strong>{{"$ " ~ detail['price'] ~ " / pound" }}</strong> 
					<h3 style="font-size: 1em"><p>Quantity: </p><input type="number" name="quantity" min="1" value="1"></h3>
					<input type="hidden" name="id" value="{{ detail['id'] }}">
					<input type="hidden" name="price" value="{{ detail['price'] }}">
					<input type="hidden" name="name" value="{{ detail['name'] }}">
					<button type="submit" class="btn">Purchase</button>
				</form>	
				</div>
				<div class="col-md-6" style="margin-top:40px">
					<span>{{ detail['description'] | raw }}</span><br>
				</div>
			{% else %}
				<h3>Chưa đăng nhập</h3>
			{% endif %}
			</div>
			<!-- </div> -->
</div>
</div>
{% endblock %}